# Токен бота от @BotFather
BOT_TOKEN=123456789:AAExampleTokenReplaceMe
PROXY_URL=socks5://user:pass@host:port
# Публичный HTTPS-адрес, на котором крутится static/index.html
# (должен быть доступен извне, Telegram открывает его как Mini App)
WEBAPP_URL=https://order.ypklementev.ru

# Твой личный или рабочий chat_id, куда будут прилетать уведомления о заявках
# Узнать свой chat_id можно через бота @userinfobot
ADMIN_CHAT_ID=8855033365

# Путь к файлу базы данных
DB_PATH=orders.db
